<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Index</title>
	<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'></script>
	<script type="text/javascript" src='http://underscorejs.org/underscore-min.js'></script>
	<script type="text/javascript" src='/js/soundmanager2-nodebug-jsmin.js'></script>
	<script type="text/javascript" src='/js/bootstrap.js'></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<script src="/socket.io/socket.io.js"></script>
<script>
soundManager.url = '/soundmanager2.swf';
soundManager.useFlashBlock = false; // optionally, enable when you're ready to dive in
/*
 * read up on HTML5 audio support, if you're feeling adventurous.
 * iPad/iPhone and devices without flash installed will always attempt to use it.
*/
soundManager.onready(function() {
  // Ready to use; soundManager.createSound() etc. can now be called.
  soundManager.createSound({
  id: 'mySound',
  url: '/audio/CRASH_1.mp3',
  autoLoad: true,
  autoPlay: false,
  onload: function() {
    //alert('The sound '+this.sID+' loaded!');
  },
  volume: 50
});
  soundManager.createSound({
  id: 'type',
  url: '/audio/TYPE.WAV',
  autoLoad: true,
  autoPlay: false,
  onload: function() {
    //alert('The sound '+this.sID+' loaded!');
  },
  volume: 50
});
  soundManager.createSound({
  id: 'step',
  url: '/audio/beep.mp3',
  autoLoad: true,
  autoPlay: false,
  onload: function() {
    //alert('The sound '+this.sID+' loaded!');
  },
  volume: 50
});
soundManager.createSound({
  id: 'win',
  url: '/audio/win.wav',
  autoLoad: true,
  autoPlay: false,
  onload: function() {
    //alert('The sound '+this.sID+' loaded!');
  },
  volume: 50
});
soundManager.createSound({
  id: 'winner',
  url: '/audio/winner.wav',
  autoLoad: true,
  autoPlay: false,
  onload: function() {
    //alert('The sound '+this.sID+' loaded!');
  },
  volume: 50
});
});
</script>
<script>
$(document).ready(function(){
	
	var user = {
		name: '<%= auth_data['name'] %>',
		screen_name: '<%= auth_data['screen_name'] %>',
		profile_image_url: '<%= auth_data['profile_image_url'] %>',
		admin: false
	}
	var users, word, points, winner;

	function new_word(new_word){
		word = new_word;
		$('#word').text(word);
		$('#word_input').val('');
	}
	
	function update_points(points){
		var k = _.keys(points);
		var v = _.values(points);

		var sortedPoints = _.sortBy(_.zip(v,k), function(r){
            return -r[0];
        });
        if(sortedPoints[0][1]!=winner && sortedPoints[0][1] == socket.socket.sessionid && sortedPoints.length>1 && sortedPoints[0][0]>0)
        	soundManager.play('winner');
        winner = sortedPoints[0][1];

		var i = 0;
		$.each(sortedPoints, function(key, value) { 
			$('#points .user_column:eq('+i+') > div').html("");
			$('#points .user_column:eq('+i+') > div').append('<div style="background:url(https://api.twitter.com/1/users/profile_image?screen_name='+users[value[1]].screen_name+'&size=original) no-repeat" class="user_avatar"></div><div class="user_screen_name">'+users[value[1]].name+'</div> <div class="puntuacion"><h3>Score</h3><h1 class="score">'+value[0]+'</h1><h4>Points</h4></div>');
			$('#points .user_column:eq('+i+')').toggleClass('admin',users[value[1]].admin);
			i++;
		});
		for (i;i<6;i++)
		{
			$('#points .user_column:eq('+i+') > div').html("");
			$('#points .user_column:eq('+i+') > div').append('<div style="background:url(/img/incognito.jpg) no-repeat" class="user_avatar"></div><div class="user_screen_name">Waiting for user...</div><div class="puntuacion"><h3>Score</h3> <h1 class="score">?</h1><h4>Points</h4></div>');
		}
	}

	function update_admin(id, games_status){
		if(games_status == "new" && socket.socket.sessionid == id){
			$("#admin").show();
			$("#game_wait").hide();
		}
	}
	
	function prepare_new_game(){
		if(user.admin)
			$('#admin').show();
		else
			$('#game_wait').show();
		$('#game_input').hide();		
	}

	var socket = io.connect();

	socket.emit("join_game", document.location.pathname);
	socket.on('game_connected', function(data){

		socket.emit('new_user', { name: user.name, screen_name: user.screen_name, profile_image_url: user.profile_image_url});

		$('#start_game').click(
			function(e){
				socket.emit('start_game', { time: $("#time_limit").val(), words_set: $("#words_set").val()});
			}
		);

		$('#word_input').keypress(
			function(e){
				if(e.keyCode==13) return false;
				socket.emit('word_typed', { word: $(this).val()+String.fromCharCode(e.keyCode) });
				//soundManager.play('type');
			}
		);
		socket.on('welcome', function (data) {
			users = data.users;
			update_points(data.points);
			user['admin'] = data.admin;
			prepare_new_game();
		});
		socket.on('start_game', function (data){
			new_word(data.word);
			update_points(data.points);
			$("#starting-countdown").modal('show');
			soundManager.play('step');
			setTimeout(function(){
				soundManager.play('step');
				$("#starting-countdown .modal-bdy").html("2");
				setTimeout(function(){
					soundManager.play('step');
					$("#starting-countdown .modal-bdy").html("1");
					setTimeout(function(){
						$('#game_input').show();
						$('#admin').hide();
						$("#game_wait").hide();
						$("#starting-countdown").modal('hide');
						$("#starting-countdown .modal-bdy").html("3");
						$("#word_input").focus();
					},1000);
				},1000);
			},1000);
		});
		socket.on('game_started', function (){
			alert("carajo llegaste tarde");
		});
		socket.on('game_ended', function (){
			prepare_new_game();
			alert($('#points .user_column:eq(0) div.user_screen_name').text() + " won");
		});
		socket.on('update_time', function (data) {
			$("#countdown").html(data.time);
		});
		socket.on('new_user', function (data) {
			users = data.users;
			update_points(data.points);
		});
		socket.on('new_admin', function (data) {
			update_admin(data.admin_id, data.game_status);
		});
		socket.on('winner', function (data) {
			$('#winner').text("You win");
			$('#winner').removeClass('other');
			$('#winner').addClass('you');
			soundManager.play('win');
			update_points(data.points);
			new_word(data.word);
		});
		socket.on('user_won', function (data) {
			$('#winner').text('User @'+users[data.user].screen_name+ ' won');
			$('#winner').addClass('other');
			$('#winner').removeClass('you');
			soundManager.play('loose');
			update_points(data.points);
			new_word(data.word);
		});
	});

	$('#word_input').focus();
	
});
</script>

<div class="container" id='game'>
	<div class="alert msg fade in">Give the url to your friends and tell them to join your game! 
		<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
	<div id="countdown" style="display:none">
		<h1>3</h1>
	</div>
		<div id='game_input' class="hero-unit" style="display:none">
			<h1 id="word"></h1>
			<form>
				<input type=text id="word_input" name="word" value="" class='input-xlarge' autocomplete="off"/>
			</form>
			<h2 id="winner"></h2>
		</div>
		<div id="admin" class='hero-unit' style="display:none">
			<span>Set the game duration</span>
			<select id="time_limit">
				<option selected="selected" value="60">1 minute</option>
				<option value="120">2 minutes</option>
				<option value="180">3 minutes</option>
				<option value="240">4 minutes</option>
				<option value="300">5 minutes</option>
				<option value="360">6 minutes</option>
			</select>
			<br>
			<span>Words set</span>
			<select id="words_set">
				<option selected="selected" value="Countries">Countries</option>
				<option value="Basketball players">Basketball players</option>
				<option value="Tennis players">Tennis players</option>
			</select>
			<input type="button" id="start_game" value="Start" class='create btn btn-success btn-large start-button'/>
		</div>
		<div id="game_wait" class='hero-unit' style="display:none">
			<h1>Waiting the owner to start the game...</h1>
		</div>
		<div class="row" id="points">
			<div class="span2 user_column place_1">
				<div></div>
			</div>
			<div class="span2 user_column place_2">
				<div></div>
			</div>
			<div class="span2 user_column place_3">
				<div></div>
			</div>
			<div class="span2 user_column place_4">
				<div></div>
			</div>
			<div class="span2 user_column place_5">
				<div></div>
			</div>
			<div class="span2 user_column place_6">
				<div></div>
			</div>
		</div>	
		<div class="modal hide" id="starting-countdown">
			<div class="modal-bdy">3</div>
		</div>
</div>


	

</body>
</html>
