<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Index</title>
	
</head>
<body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(document).ready(function(){
		var user = {
			name: '<%= auth_data['name'] %>',
			screen_name: '<%= auth_data['screen_name'] %>',
			profile_image_url: '<%= auth_data['profile_image_url'] %>'
		}
		var users, word, points;

		function new_word(new_word){
			word = new_word;
			$('#word').text(word);
			$('#word_input').val('');
		}
		
		function update_points(points){
			$('#points').html('');
			$.each(points, function(key, value) { 
				$('#points').append('<li><img src="'+users[key].profile_image_url+'">'+users[key].name+': '+value+'</li>');
			});
		}

		var socket = io.connect();
		$('#word_input').focus();
		socket.emit('set_name', { name: user.name, screen_name: user.screen_name, profile_image_url: user.profile_image_url});

		$('#start_game').click(
			function(e){
				socket.emit('start_game', { time: $("#time_limit").val()});
			}
		);

		$('#word_input').keypress(
			function(e){
				socket.emit('word_typed', { word: $(this).val()+String.fromCharCode(e.keyCode) });
			}
		);
		socket.on('welcome', function (data) {
			word = data.word;
			users = data.users;
			$('#word').text(data.word);
			update_points(data.points);

			if(data.admin)
				$('#admin').show();
		});
		socket.on('start_game', function (){
			$("#countdown").show();
			setTimeout(function(){
				$("#countdown").html("2");
				setTimeout(function(){
					$("#countdown").html("1");
					setTimeout(function(){
						$('#game').show();
						$('#admin').hide();
					},1000);
				},1000);
			},1000);
		});
		socket.on('game_started', function (){
			alert("carajo llegaste tarde");
		});
		socket.on('update_time', function (time) {
			$("#countdown").html(time);
		});
		socket.on('new_user', function (data) {
			users = data.users;
			update_points(data.points);
		});
		socket.on('winner', function (data) {
			$('#winner').text("You win");
			update_points(data.points);
			new_word(data.word);
		});
		socket.on('user_won', function (data) {
			$('#winner').text('User '+users[data.user]+ ' won');
			update_points(data.points);
			new_word(data.word);
		});
	});	
</script>
<div id="admin" style="display:none">
	<h1>Time Limit</h1>
	<select id="time_limit">
		<option selected="selected" value="60">1 minuto</option>
		<option value="120">2 minutos</option>
		<option value="180">3 minutos</option>
		<option value="240">4 minutos</option>
		<option value="300">5 minutos</option>
		<option value="360">6 minutos</option>
	</select>
	<input type="button" id="start_game" value="Iniciar" />
</div>
<div id="countdown" style="display:none">
	<h1>3</h1>
</div>
<div id="game" style="display:none">
	<h1 id="word"></h1>
	<h1 id="winner"></h1>
	<input id="word_input" name="word" value=""/>
</div>
<h2>Scores</h2>
<ul id="points">
</ul>
</body>
</html>
